{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Categorie : {{ program.category.name }}</p>
            <h2><strong>Acteur :</strong></h2>
            <ul>
                {% for actor in program.actors %}
                    <a href="{{ path('wild_show_actor', {'slug': actor.slug}) }}"><li><h4>{{ actor.name }}</h4></li></a>
                {% else %}
                    <h4>Aucun acteur pour cette série</h4>
                {% endfor %}
            </ul>
            {% for season in seasons %}
                <a class="btn btn-primary" href="{{ path('wild_show_season', {'id': season.id}) }}"><p>Saison : {{ season.number }}, Année : {{ season.year }}</p></a>
            {% endfor %}
        </div>
    </div>

    <a class="btn btn-primary" href="{{ path('wild_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}
